<div class="row">
    <footer>
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <img src="https://drive.google.com/file/d/1TQYCS8dh4Jg2wdZMzt0YFFBmBpINsjaw/view?usp=sharing">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p>Dreher, Sergio Leonardo Ramon</p>
            <p>Argentina Programa || #YoProgramo </p>
            <p>Paraná. Entre Ríos</p>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="https://drive.google.com/file/d/1l2jB57d7WwIIcB2iplgbRgtYeVrqiFZ-/view?usp=sharing">
        </div>
    </footer>
</div>
