<div class="row">
    <div class="container">
        <div class="col-sm-8 col-md-8 col-lg-8 logoprograma">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="https://drive.google.com/file/d/1l2jB57d7WwIIcB2iplgbRgtYeVrqiFZ-/view?usp=sharing" id="logoprograma"></a>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <a href="https://github.com/SergioDreher"><img src="https://drive.google.com/file/d/1KFOE6HQn7a-x8EQXkDCnVJc_R5hB8eZu/view?usp=sharing" id="logoredes"></a>
            <a href="https://ar.linkedin.com/in/sergiodreher"><img src="https://drive.google.com/file/d/15tG62J7QS0IoD8hF1XrcI43lfWzcutcz/view?usp=sharing" id="logoredes"></a>
            <a href="https://www.facebook.com/sergio.dreher"><img src="https://drive.google.com/file/d/1lprlkaKBx-sAVYNZVaJ3rJjmDbc0IYvh/view?usp=sharing" id="logoredes"></a>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
            <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesion</button>
        </div>
    </div>
</div>
