<div class="row">
    <h1>Habilidades personales (hard & soft)</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Trabajo en equipo'"
        [titleFontSize]="'15'"
        [showSubtitle]="false"
        [percent]="80"
        [showUnits]="false"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
        <p>✔ Habilidad de trabajar colaborativamente para alcanzar un objetivo</p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Resolucion de problemas'"
        [titleFontSize]="'15'"
        [showSubtitle]="false"
        [percent]="90"
        [showUnits]="false"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
        <p>✔ Habilidad de encontrar soluciones eficientes e innovadoras </p>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [title]="'Planificacion'"
      [titleFontSize]="'15'"
      [showSubtitle]="false"
      [percent]="90"
      [showUnits]="false"
      [radius]="70"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
  >
      </circle-progress>
        <p>✔ Habilidad de trabajar en proyectos a largo plazo con sus respectivas variables </p>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [title]="'Adaptabilidad'"
      [titleFontSize]="'15'"
      [showSubtitle]="false"
      [percent]="70"
      [showUnits]="false"
      [radius]="70"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
  >
      </circle-progress>
      <p>✔ Habilidad de trabajar en entornos y condiciones cambiantes </p>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [title]="'Comunicacion'"
      [titleFontSize]="'15'"
      [showSubtitle]="false"
      [percent]="70"
      [showUnits]="false"
      [radius]="70"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
  >
      </circle-progress>
      <p>✔ Habilidad de comprender y emitir mensajes eficientemente, incluyendo tanto lenguaje oral como la lecto-escritura </p>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [title]="'Intergeneracionalidad'"
      [titleFontSize]="'15'"
      [showSubtitle]="false"
      [percent]="85"
      [showUnits]="false"
      [radius]="70"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
  >
      </circle-progress>
      <p>✔ Habilidad de trabajar con equipos cuyos miembros pertenecen a distintas clases etarias </p>

    </div>


</div>
