<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-10 col-lg-10 encabezado">
            <h3>Inicios en la plataforma WIX</h3>
            <p>Estando la posibilidad de que esta sección sea cuestionable, igualmente decido colocarla ya que representa mis inicios en este mundo, el disparador de mi curiosidad por la programación.</p>
        </div>

        <div>
          <div class="col-sm-2 col-md-2 col-lg-2"></div>

            <div class="col-sm-8 col-md-8 col-lg-8 imagen">
               <img src="../../../assets/logowix.png" class="img-fluid">
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>

        <div class="contenedor">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="https://volgaparana.wixsite.com/parana"><img src="../../../assets/Pagina alemanes.png"></a>
            <p>Pagina para Asociación Alemanes del Volga Paraná</p>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="https://sergiodreher.wixsite.com/conocimiento"><img src="../../../assets/pagina conocimiento.jpg"></a>
            <p>Proyecto de pagina para iniciativa educacional</p>
          </div>


        </div>







    </div>
</div>
